.fondo{
position: fixed ;
width: 387px;
height: 812px;
left: 0px;
top: 0px;
background: #C4C4C4;
    }
    .flexbox{
position: fixed;
width: 297px;
height: 501px;
left: 39px;
top: 175px;
background: #F0EEEE;
    }
    .texto{
position: fixed;
width: 112px;
height: 28px;
left: 132px;
top: 422px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #000000;
    }
    .texto2{
position: fixed;
width: 200px;
height: 120px;
left: 88px;
top: 467px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #000000;
    }
    .flexbox2{
position: fixed;
width: 90px;
height: 23px;
left: 143px;
top: 623px;
background: #C4C4C4;
border-radius: 20px;
    }
    .VM{
position: fixed;
width: 48px;
height: 15px;
left: 164px;
top: 627px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #000000;
 }